@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    ---background-body: #97A0A6;
    ---fonteHeader: Verdana, Tahoma, sans-serif;
    ---corHeader: #ffffffe3;

    ---fontRelogio:'Open Sans', Verdana, Tahoma, sans-serif;
    ---backgroundRelogio: #cccfce71;
    ---backgroundSpan: #35302fc9;
    ---fonterFooter: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(---background-body);
    transition: all 0.5s ease;
}

header {
    font-size: 14px;
    text-align: center;
    margin: 20px;
    font-family: var(---fonteHeader);
    color: var(---corHeader);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-content {
    padding: 10px;
    width: 550px;
    height: 420px;
    border-radius: 15px;
    background-color: #ffffffe8;
    box-shadow: 1px 3px 5px #0000005c;
}

.container-relogio {
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
    font-size: 17px;
}

.container-relogio > p {
    letter-spacing: 3px;
    font-family:  Arial, Helvetica, sans-serif;
}

.relogio {
    width: 550px;
    position: relative;
    bottom: 11px;
    right: 11px;
    padding: 8px;
    letter-spacing: 5px;
    border-radius: 16px 16px 0px 0px;
    font-family: var(---fontRelogio);
    background-color: var(---backgroundRelogio);
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 25%);
}


.relogio > span {
    color: white;
    background-color: #35302fb2;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 34%);
    transition: all 0.5s ease-in;
}

img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin-top: 50px;
    transition: all 0.5s ease;
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.863);
    font-family: var(---fonterFooter);
}

.footer a {
    color: rgb(17, 14, 14);
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}
