@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    ---background-body: #5f9ea0;
    ---font: 'PT Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    list-style: none;
}

body {
    background-color: var(---background-body);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(---font);
}

h1 {
    margin: 20px;
}

.conteiner {
    padding: 10px;
    width: 590px;
    height: 450px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 1px 3px 5px #0000005c;
}

.footer {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.863);
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    color: rgb(17, 14, 14);
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}
